<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<Listeners>
	<Listener class-name="Utility.TestNgListeners.class"/>
</Listeners >

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.wipro.DemoQA.VerifyHtmlContactForm"/>
      <class name="com.wipro.DemoQA.OpenLink_NewTab"/>
      <class name="com.wipro.DemoQA.SelectMenuOptions"/>
      <class name="com.wipro.DemoQA.VerifyDragAndDrop"/>
      <class name="com.wipro.DemoQA.VerifyRentalCarBooking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
